
.title{
	justify-content: left;
	font-size: 30px;
}
.articles{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
article{
	font-size: 30px;
	text-align: center;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: #FF5A5F 1px solid;
	border-radius: 4px;

}
